@page
@model CicotiWebApp.Pages.UsefulLinksModel
@{
}
<a href="https://www.imperiallogistics.com/" target="_blank" role="button">
    <img src="~/images/Imperial_Logistics_5.jpg" class="img-responsive" target="_blank" />
</a>