@page "{id?}"
@model CicotiWebApp.Pages.ABC.ExchangeRates.EditModel

@{
    ViewData["Title"] = "Del. Status: Edit";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}

<h2>Edit</h2>

<h4>Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExchangeRate.ExchangeRateID" />
            <div class="form-group">
                <label asp-for="ExchangeRate.FirstCurrency" class="control-label"></label>
                <select asp-for="ExchangeRate.FirstCurrencyID"
                        asp-items="Model.CurrencySL" class="form-control">
                    <option value="">--Select Currency--</option>
                </select>
                <span asp-validation-for="ExchangeRate.FirstCurrencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate.SecondCurrency" class="control-label"></label>
                <select asp-for="ExchangeRate.SecondCurrencyID"
                        asp-items="Model.CurrencySL" class="form-control">
                    <option value="">--Select Currency--</option>
                </select>
                <span asp-validation-for="ExchangeRate.SecondCurrencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate.Description" class="control-label"></label>
                <input asp-for="ExchangeRate.Description" class="form-control" />
                <span asp-validation-for="ExchangeRate.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate.ActCostPeriod" class="control-label"></label>
                <select asp-for="ExchangeRate.ActCostPeriodID"
                        asp-items="Model.PeriodSL" class="form-control">
                    <option value="">--Select Period--</option>
                </select>
                <span asp-validation-for="ExchangeRate.ActCostPeriodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate.AverageRate" class="control-label"></label>
                <input asp-for="ExchangeRate.AverageRate" class="form-control" />
                <span asp-validation-for="ExchangeRate.AverageRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate.ClosingRate" class="control-label"></label>
                <input asp-for="ExchangeRate.ClosingRate" class="form-control" />
                <span asp-validation-for="ExchangeRate.ClosingRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
