@page
@model CicotiWebApp.Pages.Drivers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Driver.FirstName" class="control-label"></label>
                <input asp-for="Driver.FirstName" class="form-control" />
                <span asp-validation-for="Driver.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Driver.Surname" class="control-label"></label>
                <input asp-for="Driver.Surname" class="form-control" />
                <span asp-validation-for="Driver.Surname" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Driver.CellNumber" class="control-label"></label>
                <input asp-for="Driver.CellNumber" class="form-control" />
                <span asp-validation-for="Driver.CellNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Driver.PDPExpiryDate" class="control-label"></label>
                <input asp-for="Driver.PDPExpiryDate" class="form-control" />
                <span asp-validation-for="Driver.PDPExpiryDate" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Driver.IDNumber" class="control-label"></label>
                <input asp-for="Driver.IDNumber" class="form-control" />
                <span asp-validation-for="Driver.IDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
