@page
@{
    Layout = "_LayoutDataTables";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
@model WebAppFAM.Pages.ABC.IndexModel

@{
    ViewData["Title"] = "ABC";
}

<h2>ABC Maintenance</h2>

<p>
    <a asp-page="Create">Run Procedures</a>
</p>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div id="accordion">
    <div class="card" id="cardSection1">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                    Section 1: Monthly Base Tables
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="row" id="divLoadHeaderForm">
                <div class="col-md-4">
                    <div id="divCopyOnePeriodToAnother">
                        Duplicate Allocations From Period to Anaother
                        <div class="form-group" id="divCopyFromPeriod">
                            <label asp-for="ActCostPeriod.Period" class="control-label">Period to Copy From</label>
                            <input asp-for="ActCostPeriod.Period" class="form-control" id="periodCopyFrom" />
                            <span asp-validation-for="ActCostPeriod.Period" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="divCopyToPeriod">
                            <label asp-for="ActCostPeriod.Period" class="control-label">Period to Copy To</label>
                            <input asp-for="ActCostPeriod.Period" class="form-control" id="periodCopyTo" />
                            <span asp-validation-for="ActCostPeriod.Period" class="text-danger"></span>
                        </div>
                        <div id="divAccAllocationToPeriod">
                            <h5>Update the Account Allocation Per Principle (p4P acc and goodwill)</h5>
                            <div class="form-group">
                                <input type="submit" value="Run" class="btn btn-default" id="runAccPrinciple" />
                            </div>
                        </div>
                        <div id="divCashCollectionCostPerDepot">
                            <h5>Update the Cash Collection Cost Per Depot: Used to allocate Bank Charges</h5>
                            <div class="form-group">
                                <input type="submit" value="Run" class="btn btn-default" id="runCashCollection" />
                            </div>
                        </div>
                        <div id="divInsuranceCost">
                            <h5>Update the Insurance Type Cost Per Period</h5>
                            <div class="form-group">
                                <input type="submit" value="Run" class="btn btn-default" id="runInsuranceCosts" />
                            </div>
                        </div>
                        <div id="divSpecificEmployeeAllocationPerSilo">
                            <h5>Update the Employee Allocation Per Silo</h5>
                            <div class="form-group">
                                <input type="submit" value="Run" class="btn btn-default" id="runAllocateSilo" />
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="cardSection2">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" id="btnInvoiceSelection"
                        aria-controls="collapseTwo">
                    Section 2: CheckLists of Imports
                </button>
                <br />
            </h5>
            
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="row" id="divImportsCheckList">
                -Item 1: Payroll File for Period: Table: ActCostPayrollCost;
                <br />
                -Item 2: Debtors File for the Month: Table: ActCostDebtors;
                <br />
                -Item 3: Stock File for the Month: Table: ActCostStockOnHand;
                <br />
                -Item 4: Creditors File for the Month: Table: ActCostPrincipleBalance;
                <br />
                -Item 5: Account Balance Movement: Table: ActCostAccountBalance
                <br />
                -Item 6: Kilometres Travelled: Table: VehicleKms
                <br />
                -Item 7: Exchange Rates for Period
                <br />
                -Item 8: Import All Sales For the Period
            </div>
        </div>
    </div>
    <div class="card" id="cardSection3">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" id="btnInvoiceSelected"
                        aria-controls="collapseThree">
                    Section 3: Run Scripts for the Period
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="row" id="divScriptsToRun">
                <div class="form-group" id="divCopyFromPeriod">
                    <label asp-for="ActCostPeriod.Period" class="control-label">Period to Update</label>
                    <input asp-for="ActCostPeriod.Period" class="form-control" id="periodToUpdate" />
                    <span asp-validation-for="ActCostPeriod.Period" class="text-danger"></span>
                </div>
                <div id="divScripts">
                    <br />
                    <div id="divTransCount" class="wrapper">
                        <h5>1 - Update Tranaction Count: sp Step1_ActCostTransactionCount</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runTransCount" />
                        </div>
                        <p id="runTransCountMsg"></p>
                    </div>
                    <br />
                    <div id="divSalesUpdate" class="wrapper">
                        <h5>2 - Update Sales and Cost of Sales: sp Step1_SalesUpdatePerPeriod</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runSalesUpdate" />
                        </div>
                        <p id="runSalesUpdateMsg"></p>
                    </div>
                    <br />
                    <div id="divEmloyeeUpdate" class="wrapper">
                        <h5>3 - Archive Employees Table: sp Step2_EmployeeArchive</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runEmployeeArchive" />
                        </div>
                        <p id="runEmployeeArchiveMsg"></p>
                    </div>
                    <br />
                    <div id="divVehicleUpdate" class="wrapper">
                        <h5>4- Archive Vehicle Table: sp Step2_VehicleArchive</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runVehicleArchive" />
                        </div>
                        <p id="runVehicleArchiveMsg"></p>
                    </div>
                    <br />
                    <div id="divPalletsUpdate" class="wrapper">
                        <h5>5- Pallet Update: Step2_PalletsOnHand</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runPalletUpdate" />
                        </div>
                        <p id="runPalletUpdateMsg"></p>
                    </div>
                    <br />
                    <div id="divAccBalanceUpdate" class="wrapper">
                        <h5>6- Update Movement on GL Accounts: sp Step3_AccBalanceMovementUpdate</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="rubBalanceMovement" />
                        </div>
                        <p id="rubBalanceMovementMsg"></p>
                    </div>
                    <br />
                    <div id="divStaffAllocation" class="wrapper">
                        <h5>7- Staff Allocation Per Principle: sp Step4_ActCostTableStaffAllocation</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runStaffPerPrinciple" />
                        </div>
                        <p id="runStaffPerPrincipleMsg"></p>
                    </div>
                    <br />
                    <div id="divVehicleAllocation" class="wrapper">
                        <h5>8- Vehicle Allocation Per Principle: sp Step4_ActCostTableVehicleAllocation</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runVehicleAllocation" />
                        </div>
                        <p id="runVehicleAllocationMsg"></p>
                    </div>
                    <br />
                    <div id="divMacCostAllocation" class="wrapper">
                        <h5>9- Create ABC Table Per Principle: Step5_AllocateManAccCostsToActivities</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runAllocatedCosts" />
                        </div>
                        <p id="runAllocatedCostMsg"></p>
                    </div>
                    <br />
                    <div id="divDebtorsAllocation" class="wrapper">
                        <h5>10- Create Debtors Per Principle: Step6_CreateDebtorsSplitByPrincipal</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runDebtorsAllocation" />
                        </div>
                        <p id="runDebtorsAllocationMsg"></p>
                    </div>
                    <br />
                    <div id="divInvestmentTable" class="wrapper">
                        <h5>11- Create Investment Table Per Principle: Step7_CreateInvestmentTable</h5>
                        <div class="form-group">
                            <input type="submit" value="Run" class="btn btn-default" id="runInvestmentTable" />
                        </div>
                        <p id="runInvestmentTableMsg"></p>
                    </div>
                    <br />
                </div>
        </div>

    </div>
    <div class="card" id="cardSection4">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" id="btnPrintLoadDetails"
                        aria-controls="collapseFour">
                    Section 4: Control Check List 
                </button>
            </h5>

        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div style="width:90%; margin:0 auto;">
                <div class="form-group" id="divCopyFromPeriod">
                    <label asp-for="ActCostPeriod.Period" class="control-label">Period to Update</label>
                    <input asp-for="ActCostPeriod.Period" class="form-control" id="periodToCheck" />
                    <span asp-validation-for="ActCostPeriod.Period" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="createProcessTable">Process</button>
                </div>
            </div>
        </div>
    </div>

</div>


@await Html.PartialAsync("_ModalPartial")
@await Html.PartialAsync("_ModalConfirmPartial")

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#runAllocatedCosts").click(function () {
                allocateCosts();
            });

        });//Document Ready end.

        function allocateCosts()
        {
            console.log("Allocate Costs function");
            var obj = {};
            obj.Period = $("#periodToUpdate").val();
            console.log(JSON.stringify(obj));
            console.log(obj.Period);

            $.ajax({
                type: "POST",
                url: '/ABC/MonthlyUpdates?handler=AllocateCosts',
                headers:
                    {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                contentType: "application/json",
                dataType: "json",
               // data: $("#period").val(),
                data: JSON.stringify(obj),
                success: function (msg) {
                        $("#modalHeader").text("Allocate Costs Processing Status");
                        $("#modalMessage").text(msg);
                    $("#myModal").modal("show");
                    $("#runAllocatedCostMsg").html(msg);
                    },
                    error: function () {
                        $("#modalHeader").text("Allocate Costs Processing Status");
                        $("#modalMessage").text(msg);
                        $("#myModal").modal("show");
                    }
                });//ajax
        }

    </script>
}