@page
@model CicotiWebApp.Pages.Vehicles.CreateModel

@{
    ViewData["Title"] = "Vehicle: Create";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}

<h2>Create</h2>

<h4>New Delivery Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vehicle.RegistrationNumber" class="control-label">Registration Number</label>
                <input asp-for="Vehicle.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Vehicle.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label">Sub Contractor</label>
                <select asp-for="Vehicle.SubContractorID" id="subContractorID"
                        asp-items="Model.SubContractorSL" class="form-control">
                    <option value="">--Select SubContractor--</option>
                </select>
                <span asp-validation-for="Vehicle.SubContractorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label">Vehicle Type</label>
                <select asp-for="Vehicle.VehicleTypeID" id="vehicleTypeID"
                        asp-items="Model.VehicleTypeSL" class="form-control">
                    <option value="">--Select VehicleType--</option>
                </select>
                <span asp-validation-for="Vehicle.VehicleTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
