@page
@model CicotiWebApp.Pages.Loads.LoadRptModel

@{
    ViewData["Title"] = "Load: Reports";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}

<h2>Load Reports</h2>

<div id="loader"></div>
<label class="radio-inline"><input type="radio" name="loadRpt" value="VwLoadSummary">Summary</label>
<label class="radio-inline"><input type="radio" name="loadRpt" value="VwLoadDetail" checked>Per Load Per Invoice Line</label>
<br />
<br />

<div class="form-group" id="divStartDate">
    <label asp-for="Report.StartDate" class="control-label">Loading Date</label>
    <div class='input-group date' id='datetimepicker1'>
        <input asp-for="Report.StartDate" type="text" class="form-control" id="startDate" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <span asp-validation-for="Report.StartDate" class="text-danger"></span>
    </div>
</div>

<div class="form-group" id="divEndDate">
    <label asp-for="Report.EndDate" class="control-label">Loading Date</label>
    <div class='input-group date' id='datetimepicker2'>
        <input asp-for="Report.EndDate" type="text" class="form-control" id="endDate" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <span asp-validation-for="Report.EndDate" class="text-danger"></span>
    </div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
    <span class="input-group-btn">
        <input type="button" value="Export" class="btn btn-default" id="exportBtn" />
    </span>
</div>

<br />


@await Html.PartialAsync("_ModalPartial")
@await Html.PartialAsync("_ModalConfirmPartial")
@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

@section Scripts {

    <script type="text/javascript">
        var loadRpt;
        var rptToSave = {};
        loadRpt = "VwLoadSummary";

        function ajaxLoadReports(obj)
        {
            console.log("Report: in Load Reports Ajax Call: " + JSON.stringify(obj));
            $.ajax({
                type: "POST",
                url: "/Loads/LoadRpt?handler=Export",
                    headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(obj),
                success: function (data) {
                    $("#modalHeader").text("Processing Load Report Data");
                        $("#modalMessage").text("Data DownLoaded");
                    $("#myModal").modal("show");
                    $("#loader").hide();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#modalHeader").text("Processing Load Report Data");
                        $("#modalMessage").text("Data Not DownLoaded");
                        $("#myModal").modal("show");
                        $("#loader").hide();
                    }
                });//ajax Update / Insert
        }

        $(document).ready(function ()
        {
            $("#loader").hide();
            $('#exportBtn').click(function () {
                rptToSave.reportName = loadRpt;
                rptToSave.reportID = 0;
                rptToSave.reportDate = $('#startDate').val();
                rptToSave.startDate = $('#startDate').val();
                rptToSave.endDate = $('#endDate').val();
                ajaxLoadReports(rptToSave);
                return;
            });
            $("input[type='radio']").click(function () {
                var radioValue = $("input[name='loadRpt']:checked").val();
                if (radioValue) {
                    loadRpt = radioValue;
                }
            });
             $('#datetimepicker1').datetimepicker(
                    {
                     format: "YYYY/MM/DD",
                     date: '@Model.Report.StartDate'
                    }
            );
            $('#datetimepicker2').datetimepicker(
                {
                    format: "YYYY/MM/DD",
                    date: '@Model.Report.EndDate'
                }
            );
        });//Document Ready end.

    </script>
}
