@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    1311 A Rua Das Industrias: <br />
    Machava, Maputo, Mozambique<br />
    <abbr title="Phone">P:</abbr>
   021 -750
</address>

<address>
    <strong>Support:</strong> <a href="w.fernandes@otisa.co.za">Site Support</a><br />
    <strong>Marketing:</strong> <a href="w.fernandes@otisa.co.za">Marketing and Sales</a>
    <strong>Maps:</strong> <a target="_blank" href="https://drive.google.com/open?id=1OdcXSd-J7E_Ha5QQJWwIXPpdUT1CW_KH&usp=sharing">Locations</a>
</address>
