@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    1311 A Rua Das Industrias: <br />
    Machava, Maputo, Mozambique<br />
    <abbr title="Phone">P:</abbr>
   +258 21 750 080
</address>

<address>
    @*<strong>Support:</strong> <a href="w.fernandes@otisa.co.za">Site Support</a><br />
    <strong>Marketing:</strong> <a href="w.fernandes@otisa.co.za">Marketing and Sales</a>*@
    <strong>Maps:</strong> <a target="_blank" href="https://www.google.com/maps/d/viewer?mid=1YmLZKGnEsy55EXdW0jaXfABDudCVD_fn&ll=-18.796677301138764%2C36.500782173453786&z=5">Locations</a>
</address>
