@page "{id?}"
@model CicotiWebApp.Pages.SKU.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}

<h2>Edit</h2>

<h4>SKU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SKU.SKUID" />
            <div class="form-group">
                <label asp-for="SKU.Code" class="control-label"></label>
                <input asp-for="SKU.Code" class="form-control" />
                <span asp-validation-for="SKU.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU.Description" class="control-label"></label>
                <input asp-for="SKU.Description" class="form-control" />
                <span asp-validation-for="SKU.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU.UOM" class="control-label"></label>
                <input asp-for="SKU.UOM" class="form-control" />
                <span asp-validation-for="SKU.UOM" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SKU.UnitsPerPallets" class="control-label"></label>
                <input asp-for="SKU.UnitsPerPallets" class="form-control" />
                <span asp-validation-for="SKU.UnitsPerPallets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU.WeightPerUnit" class="control-label"></label>
                <input asp-for="SKU.WeightPerUnit" class="form-control" />
                <span asp-validation-for="SKU.WeightPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU.CubicMetrePerPallet" class="control-label"></label>
                <input asp-for="SKU.CubicMetrePerPallet" class="form-control" />
                <span asp-validation-for="SKU.CubicMetrePerPallet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU.CubicMetrePerUnit" class="control-label"></label>
                <input asp-for="SKU.CubicMetrePerUnit" class="form-control" />
                <span asp-validation-for="SKU.CubicMetrePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU.UOM" class="control-label"></label>
                <input asp-for="SKU.UOM" class="form-control" />
                <span asp-validation-for="SKU.UOM" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
