@page "{id?}"
@model CicotiWebApp.Pages.Statuses.EditModel

@{
    ViewData["Title"] = "Del. Status: Edit";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}

<h2>Edit</h2>

<h4>Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Status.StatusID" />
            <div class="form-group">
                <label asp-for="Status.Name" class="control-label"></label>
                <input asp-for="Status.Name" class="form-control" />
                <span asp-validation-for="Status.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status.SortOrder" class="control-label"></label>
                <input asp-for="Status.SortOrder" class="form-control" />
                <span asp-validation-for="Status.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status.HrsInStatus" class="control-label"></label>
                <input asp-for="Status.HrsInStatus" class="form-control" />
                <span asp-validation-for="Status.HrsInStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
