<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cicotiemail.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5526c0ae-7d05-467f-b193-ef831ef95fd5/resourceGroups/Cicoti/providers/Microsoft.Web/sites/cicotiemail</ResourceId>
    <UserName>$cicotiemail</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://cicotiemail.scm.azurewebsites.net.net:443</PublishUrl>
  </PropertyGroup>
</Project>